.grid-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2vw; /* Specified height */
  margin-bottom: 0;
  background: #003955;
  outline: none; /* Remove outline */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
.grid-slider::-moz-range-thumb:hover {
  background: rgb(255, 163, 190);
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.grid-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5vw; /* Set a specific slider handle width */
  height: 5vw; /* Slider handle height */
  border: none;
  background: rgb(255, 138, 174);
  cursor: pointer; /* Cursor on hover */
}

.grid-slider::-moz-range-thumb {
  width: 5vw; /* Set a specific slider handle width */
  height: 5vw; /* Slider handle height */
  background: rgb(255, 138, 174);
  border: none;
  cursor: pointer; /* Cursor on hover */
}
