@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  background-color: #fcfcd4;
  font-family: 'Itim', cursive;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.play-area {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10vw;
}

.title {
  padding: 2vh;
  font-size: clamp(40px, 7vh, 60px);
}

.grid-container {
  display: grid;
  width: fit-content;
}

.grid-background {
  width: fit-content;
}

.board-area { 
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 30px;
  padding-top: 70px;
  padding-bottom: 0;
  border-radius: 50px 50px 20px 20px;
  background-color: rgb(154, 220, 255);
}

.grid-case {
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(255, 138, 174);
}

.grid-slider {
  margin-top: 30px;
  margin-left: 30px;
}

.credits {
  text-align: center;
  padding: 20px;
  background-color: #f9f871;
}

label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.config-board {
  display: flex;
  flex-direction: column;
  background-color:  #f9f871;
  padding: 10px;
  border-radius: 20px;
}

.config {
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
}

[class="config"]:hover {
  background-color:  #e4e453;
}

.config.button {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.config > button {
  background-color: #003955;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

.config > button:hover {
  cursor: pointer; /* Cursor on hover */
}